/* login */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(151, 213, 255, 1) 75%,
      rgba(136, 255, 159, 1) 100%
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(151, 213, 255, 1) 75%,
      rgba(136, 255, 159, 1) 90%
    ),
    linear-gradient(
      225deg,
      rgba(151, 213, 255, 1) 0%,
      rgba(46, 64, 77, 1) 40%,
      rgba(31, 39, 46, 1) 80%,
      rgba(18, 18, 18, 1) 100%
    );
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caixa {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(13, 14, 46, 0.603);
  box-shadow: 0px 0px 30px 10px rgba(32, 50, 83, 0.4);
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}



.login h1 {
  font-size: 60px;
}

.login h2 {
  color: rgba(255, 255, 255, 0.5);
}

.title {
  width: 100%;
  padding: 10px 10px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    rgba(1, 0, 25, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  color: white;
  border: none;
  backdrop-filter: blur(15px);
  font-family: "Bebas Neue", cursive;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
